export(
  read_refs, read_ref,
    detect_delimiter, detect_format,
    parse_bibtex, parse_ris, parse_pubmed, parse_csv, parse_tsv, prep_ris, detect_year,
    generate_ids, clean_df, clean_authors, clean_names,
  as.bibliography,
    summary.bibliography, print.bibliography, '[.bibliography', c.bibliography,
    as.data.frame.bibliography,
  format_citation,  fuzzdist,
    fuzz_m_ratio, fuzz_partial_ratio, fuzz_token_sort_ratio, fuzz_token_set_ratio,
  deduplicate,
    find_duplicates, extract_unique_references,
add_line_breaks,
  write_refs,
    write_bib, write_ris,
  merge_columns, match_columns, remove_factors, create_index
)
importFrom("stats", "dist", "xtabs")
importFrom("utils", "read.csv", "read.table", "write.csv", "read.delim", "head", "tail", "write.table")
importFrom("stringdist", "stringdist")
S3method(c, bibliography)
S3method(print, bibliography)
S3method(summary, bibliography)
S3method(as.data.frame, bibliography)
S3method('[', bibliography)
