export(
  read_refs, read_ref,
  parse_bibtex, parse_ris, parse_pubmed, parse_csv, parse_tsv,
  clean_df, clean_authors, clean_colnames,
  detect_delimiter, detect_parser, detect_lookup, detect_year,
  as.bibliography,
    summary.bibliography, print.bibliography, '[.bibliography', c.bibliography,
    as.data.frame.bibliography,
  fuzzdist,
    fuzz_m_ratio, fuzz_partial_ratio, fuzz_token_sort_ratio, fuzz_token_set_ratio,
  string_osa, string_lv, string_dl, string_hamming, string_lcs, string_qgram,
    string_cosine, string_jaccard, string_jw, string_soundex,
  deduplicate,
    find_duplicates, extract_unique_references, review_duplicates, override_duplicates,
  format_citation, add_line_breaks,
  write_refs, write_bib, write_ris,
  merge_columns
)
importFrom("stats", "dist", "xtabs")
importFrom("stringdist", "stringdist")
importFrom("utils", "read.csv", "read.table", "write.csv", "read.delim", "head", "tail", "write.table")
S3method(c, bibliography)
S3method(print, bibliography)
S3method(summary, bibliography)
S3method(as.data.frame, bibliography)
S3method('[', bibliography)
